{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}
    <div>
        <br>
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
            <div style="color: red; font-size: 20pt; margin-left: 20px;">
                {{ message }} To sign up, go to <a href="{{ url_for('auth.signup') }}">sign up page</a>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <div style="width: 60%; margin: auto; padding: 3% 5% 5% 5%; border: outset;">
            <div>
                <h3 style="font-size: 30pt;">Log in</h3>
            </div>
            <br>
            <form method = "POST" action="/login">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label" style="font-size: 16pt;">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" style="height: 50px;" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label" style="font-size: 16pt;">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" style="height: 50px;" required>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMe" name="remember" style="height: 16px;">
                    <label class="form-check-label" for="rememberMe" style="font-size: 12pt;">
                        Remember me?
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="loginbutton">Log in</button>
                <div class = "text-info" style="padding-top: 2%;">
                    <a href = "{{ url_for('auth.forgot_password') }}">Reset password?</a><br>
                    <a href = "{{ url_for('auth.signup') }}">Register?</a>
                </div>
            </form>
        </div>      

{% endblock %} 